<h1>Zoo Listing</h1>

<%= form_tag zoos_path, :method => 'get' do %>
  <p>
  	<%= text_field_tag :search, params[:search] %>
  	<%= submit_tag "Search", :name => nil %>
  </p>	
<% end %>

<table>
<% if @zoos.empty? %>
   No records found!
<% else %>
<% @zoos.each do |zoo| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
  	
  	<td>
    	<dl>
    		<%= image_tag zoo.image.url(:small) %>
    	</dl>
    </td>

    <td class="list_description">
      <dl>
        <dt><%= link_to zoo.name, zoo %></dt>
      </dl>
    </td>
    
    <td>
    	<dl>
    		<dt><%= zoo.address %></dt>
    	</dl>
    </td>
    
    <td>
    	<dl>
    		<dt><%= zoo.phone %></dt>
    	</dl>
    </td>

    <td class="list_actions">
       <br/>
      <%= link_to 'View animals in zoo',zoo_animals_path(zoo.id)%><br/>
      <% if zoo.user_id == session[:user_id]%>
	      <%= link_to 'Edit', edit_zoo_path(zoo) %><br/>
	      <%= link_to 'Delete', zoo, method: :delete,
	                  data: { confirm: 'Are you sure?' } %>
	  <%end%>
    </td>
  </tr>
<% end %>
<% end %>
</table>
<%= will_paginate @zoos %>
<br/><br/>
<% if @current_user.admin && @current_user.zoo == nil%>
<%= link_to 'New zoo page', new_zoo_path %>
<%end%>
<%= link_to 'Back', home_path %>