<h1>Zoos#index</h1>

<%= form_tag zoos_path, :method => 'get' do %>
  <p>
  	<%= text_field_tag :search, params[:search] %>
  	<%= submit_tag "Search", :name => nil %>
  </p>	
<% end %>

<table>
<% if @zoos.empty? %>
   No records found!
<% else %>
<% @zoos.each do |zoo| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

    <td class="list_description">
      <dl>
        <dt><%= zoo.name %></dt>
      </dl>
    </td>
    
    <td>
    	<dl>
    		<dt><%= zoo.belongs %></dt>
    	</dl>
    </td>
    
    <td>
    	<dl>
    		<dt><%= zoo.address %></dt>
    	</dl>
    </td>
    
    <td>
    	<dl>
    		<dt><%= zoo.phone %></dt>
    	</dl>
    </td>

    <td class="list_actions">
      <%= link_to 'Display', zoo %> <br/>
      <%= link_to 'View animals in zoo',zoo_animals_path(zoo.id)%><br/>
      <%= link_to 'Edit', edit_zoo_path(zoo) %><br/>
      <%= link_to 'Delete', zoo, method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
<% end %>
</table>
<%= paginate @zoos %>
<br/><br/>

<%= link_to 'New zoo page', new_zoo_path %>
<%= link_to 'Back', home_path %>