<h1><%= @zoo.name %></h1> <%=link_to 'Show Animals in Zoo', zoo_animals_path(@zoo.id)%>


<p>
 
  <%= image_tag @zoo.image.url(:profile) %>
</p>



<p>
  <b>Belongs:</b>
  <%= @zoo.belongs %>
</p>

<p>
  <b>Established Date:</b>
  <%= @zoo.ed %>
</p>

  <p>
    <b>Location Address:</b>
    <%=@zoo.address%>
  </p>

<p>
	<b>Zoo Admin User Profile</b>
	<%=link_to @zoo.user.name, user_path(@zoo.user.id)%>
</p>

  <p>
    <b>Contact Phone:</b>
    <%=@zoo.phone%>
  </p>

  <p>
    <b>Email Address:</b>
    <%=@zoo.email%>
  </p>


<p>
  <b>Zoo Introduction Remark:</b>
  <%= @zoo.remarks%>
</p>

<% if @zoo.user.id == session[:user_id]%>
<%= link_to 'Edit', edit_zoo_path(@zoo) %> |
<%end%>
<%= link_to 'Back', zoos_path %>
