
<p>Welcome <%=@user.name%>!</p>
<% if !@user.admin%>
Please use the links to the left to browse zoos and animals.
<%else%>
<h1>Your Zoo</h1>
<table>
	<% if @zoo == nil%>
	You have no zoo
	<br/>
	
	<%= link_to 'Create Zoo', new_zoo_path%>
	
	<% else %>
	<tr>
		<th></th>
		<th>Name</th>
		<th>Address</th>
		<th>Phone Number</th>
		<th></th>
	</tr>
	
	<tr>

		<td><%= image_tag @zoo.image.url(:small) %></td>
		<td ><%= link_to @zoo.name, @zoo %></td>

		<td><%= @zoo.address %></td>

		<td><%= @zoo.phone %></td>

		<td class="list_actions"> 
		<br/>
		<%= link_to 'View animals in zoo',zoo_animals_path(@zoo.id)%>
		<br/>
		  <% if @zoo.user_id == session[:user_id]%>
		      <%= link_to 'Edit', edit_zoo_path(@zoo) %><br/>
		      <%= link_to 'Delete', @zoo, method: :delete,
		                  data: { confirm: 'Are you sure?' } %>
	  	<%end%>
	</tr>
	
<% end %>
</table>

<br/>
<br/>
<h1>Your Animals</h1>
<% if @zoo != nil && @user.admin%>
	<%= link_to 'Create animal in your zoo', new_zoo_animal_path(@zoo.id)%>
<%end%>
<% if @animals.empty? %>
No Animals found
<% else %>

<% @species.sort.each do |type, animals| %>
<table>
	<caption>
		<h2><%= type %></h2>
	</caption>
	<tr>
		<th>Animal Picture</th>
		<th>Animal ID</th>
		<th>Animal Name</th>
		<th>Gender</th>
		<th>Breeding Status</th>
		<th>Zoo</th>
		<th></th>
	</tr>

	<% for animal in animals %>
	<tr>
		<td><%= image_tag animal.images.url(:small) %></td>
		<td> <%= animal.id %> </td>
		<td> <%= link_to animal.name, zoo_animal_url(animal.zoo_id, animal.id) %> </td>
		<td> <%= animal.gender %> </td>
		<td> <%= animal.breeding_status %> </td>
		<td> <%= link_to animal.zoo.name, zoo_path(animal.zoo.id)%> </td>
		<td> 
		<% if animal.zoo.user_id == session[:user_id] %>
		<%= link_to 'Edit', edit_zoo_animal_path(animal.zoo_id, animal.id) %>
		<br/>
		<%= link_to 'Destroy', zoo_animal_url(animal.zoo_id, animal.id), method: :delete,
		data: { confirm: 'Are you sure?' } %>
		<% end %> </td>
	</tr>
	<% end %>
</table>
<br />
<%end%>
<% end%>
<%end%>
<br/>
<br/>
