<h1>Zoos</h1>
<table>
	<% if @zoos.empty? %>
	No Zoos found
	<% else %>
	<tr>
		<th>Name</th>
		<th>Address</th>
		<th>Phone Number</th>
		<th></th>
	</tr>
	<% @zoos.each do |zoo| %>
	<tr>

		<td class="list_description">
		<dl>
			<dt>
				<%= zoo.name %>
			</dt>
		</dl></td>

		<td>
		<dl>
			<dt>
				<%= zoo.address %>
			</dt>
		</dl></td>

		<td>
		<dl>
			<dt>
				<%= zoo.phone %>
			</dt>
		</dl></td>

		<td class="list_actions"> <%= link_to 'Display', zoo %>
		<br/>
		<%= link_to 'View animals in zoo',zoo_animals_path(zoo.id)%>
		<br/>
		      <% if zoo.user_id == session[:user_id]%>
	      <%= link_to 'Edit', edit_zoo_path(zoo) %><br/>
	      <%= link_to 'Delete', zoo, method: :delete,
	                  data: { confirm: 'Are you sure?' } %>
	  <%end%>
	</tr>
	<% end %>
	<% end %>
</table>

<br/>
<br/>
<h1>Animals</h1>
<% if @animals.empty? %>
No Animals found
<% else %>
<% @species.sort.each do |type, animals| %>
<table>
	<caption>
		<h2><%= type %></h2>
	</caption>
	<tr>
		<th>Animal ID</th>
		<th>Animal Name</th>
		<th>Gender</th>
		<th>Breeding Status</th>
		<th>Zoo</th>
		<th></th>
	</tr>

	<% for animal in animals %>
	<tr>
		<td> <%= animal.id %> </td>
		<td> <%= animal.name %> </td>
		<td> <%= animal.gender %> </td>
		<td> <%= animal.breeding_status %> </td>
		<td> <%= link_to animal.zoo.name, zoo_path(animal.zoo.id)%> </td>
		<td> <%= link_to 'Show', zoo_animal_url(animal.zoo_id, animal.id) %>
		<br/>
		<% if animal.zoo.user_id == session[:user_id] %>
		<%= link_to 'Edit', edit_zoo_animal_path(animal.zoo_id, animal.id) %>
		<br/>
		<%= link_to 'Destroy', zoo_animal_url(animal.zoo_id, animal.id), method: :delete,
		data: { confirm: 'Are you sure?' } %>
		<% end %> </td>
	</tr>
	<% end %>
</table>
<br />
<%end%>
<% end%>
<br/>
<br/>
<h1>Users</h1>
<% if @users.empty? %>
No Users found
<% else %>
<table>
	<caption>
		<h1></h1>
	</caption>

	<% @users.each do |user| %>

	<tr>
		<td> <%= link_to user.name, user_path(user.id) %> </td>

	</tr>
	<% end %>
</table>
<%end%>
