<h1>Create Your Profile, <%=@user.name%></h1>

<%= form_for(@user) do |f| %>
  
  <div class="field">
    <%= f.label :address %><br />
<!-- START_HIGHLIGHT -->
    <%= f.text_field :address %>
<!-- END_HIGHLIGHT -->
  </div>
  
  <div class="field">
    <%= f.label :phone %><br />
<!-- START_HIGHLIGHT -->
    <%= f.text_field :phone %>
<!-- END_HIGHLIGHT -->
  </div>
  
  <div class="field">
    <%= f.label :email %><br />
<!-- START_HIGHLIGHT -->
    <%= f.text_field :email %>
<!-- END_HIGHLIGHT -->
  </div>
  
  <div class="field">
  	Date of Birth: <%= f.date_select :dob, :start_year => Time.now.year - 100, :end_year => Time.now.year %>
  </div>

  <div class="field">
    <%= f.label :gender %><br />
    <%= f.radio_button :gender, "male" %>
    <%= label_tag(:gender_male, "male") %>
    <%= f.radio_button :gender, "female" %>
    <%= label_tag(:gender_female, "female") %>
  </div>
  
  <div class="field">
    <%= f.label :location %><br />
<!-- START_HIGHLIGHT -->
    <%= f.text_field :location %>
<!-- END_HIGHLIGHT -->
  </div>
  
  <div class="field">
    <%= f.label :website %><br />
<!-- START_HIGHLIGHT -->
    <%= f.text_field :website %>
<!-- END_HIGHLIGHT -->
  </div>
  <p></p>
  <div>
    <%= f.submit "Create Profile" %>
  </div>
  
<% end %>