<h1><%=@current_user.name%>'s Profile</h1>
<div class="row">
  <aside class="span4">
    <section>
 <p>
  <b>User Picture:</b>
  <%= image_tag @user.photo.url(:small) %>
</p>
    </section>
  </aside>
 <p>Username: <%=h @user.username %></p>

</div>
  
<%= link_to 'Edit', edit_user_path(@user) %> | 
<%= link_to 'Back', home_path %> | 
<%= link_to 'Show', show_path %>
