<h1>Registration Page</h1>
<%=form_for :user, :url=>{:action=>"add"} do |f|%>
  Name: <%=f.text_field :name %><br/>
  Email: <%=f.text_field :email %><br/>
  Password: <%=f.password_field :password %><br/>
  Password Confirmation: <%=f.password_field :password_confirmation %><br/>
  <%= f.check_box :tos %> I agree to <%= link_to "Terms of Service", tos_path, :target => "_blank" %><br/>
  <%=submit_tag "Register"%> <br/>
<%end%>

  <% if @user.errors.any? %>
	<ul>
		<% for message_error in @user.errors.full_messages %>
			<li>* <%= message_error %></li>
	  	<% end %>
	</ul>
  <% end %>