 <%@animal.name%> <% if @animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@animal.errors.count, "error") %>
      prevented searching for <%=@animal.name%>'s mates:</h2>

      <ul>
      <% @animal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if @mates %>


<table width = "55%">


	<tr><th colspan = 6><%=@animal.name%>'s Compatible Mates</th></tr>
	<%if @mates.empty?%>
	<tr><td colspan = 5>No compatible mates found</td></tr>
	<%else%>
<% for animal in @mates %>
  <tr>
  	<td>
  		<%= image_tag animal.images.url(:small) %>
  	</td>
	<td>
		<%= animal.id %>
	</td>
    <td>
       <%=link_to animal.name, zoo_animal_path(animal.zoo_id, animal.id) %><br/>
     
    </td>
        <td>
        <%= animal.gender %>
    </td>
    <td>
        <%= animal.breeding_status %>
    </td>

    <td>
    	<% if animal.zoo.user.id == session[:user_id]%>
    	You are the admin for this animal
    	<%else%>
  <%= mail_to animal.zoo.user.email, name='Send Breeding Request Email' %>
  <%end%>
   
    </td>
  </tr>
  <%end%>
  <%end%>
  </table>
  <br/>

<%end%>