<h1>List of Animals</h1>
  <div id = 'mates'>
  	<%if @id%>	
 		<%=render :partial=>'mates'%>
  	<%end%>
  </div>
<% @species.sort.each do |type, animals| %>
<table>
<caption><h1><%= type %></h1></caption>
<tr><th>Animal Picture</th>
	<th>Animal ID</th>
	<th>Animal Name</th>
	<th>Gender</th>
	<th>Breeding Status</th>
	<th></th>
</tr>

<% for animal in animals %>

  <tr>	
  	<td>
    	<%= image_tag animal.images.url(:small) %>
    </td>
	<td>
		<%= animal.id %>
	</td>
    <td>
        <%= link_to animal.name, zoo_animal_url(animal.zoo_id, animal.id) %>
    </td>
        <td>
        <%= animal.gender %>
    </td>
    <td>
        <%= animal.breeding_status %>
    </td>

    <td>
      
      <% if @zoo.user_id == session[:user_id] %>
     	 <%= link_to 'Edit', edit_zoo_animal_path(animal.zoo_id, animal.id) %><br/>
     	 <%= link_to 'Destroy', zoo_animal_url(animal.zoo_id, animal.id), method: :delete,
                  data: { confirm: 'Are you sure?' } %><br/>
         <% if animal.breeding_status == "viable"%>
         <%= link_to 'Find compatible mates', {:action => :index, :id => animal.id}, remote: true%>
         <%end%>
         
       <% end %>
    </td>
  </tr>
  

  
<% end %>
</table>

<br />
<% end%>
<% if @zoo.user_id == session[:user_id] %>
	<%= link_to 'New animal', new_zoo_animal_path(params[:zoo_id]) %>
<% end %>
