<h1>Animal Profile</h1>

<p>
  <b>Species:</b>
  <%= @animal.animal_type %>
</p>

<p>
  <b>Name:</b>
  <%= @animal.name %>
</p>
<p>
  <b>Gender:</b>
  <%= @animal.gender %>
</p>

<p>
  <b>Date of Birth:</b>
  <%= @animal.dob %>
</p>

<p>
  <b>Breeding Status:</b>
  <%= @animal.breeding_status %>
</p>

<p>
  <b>Comments:</b>
  <%= @animal.comments %>
</p>
<p><b>Mother</b>
	<% if @animal.mother != nil%>
	<%= link_to @animal.mother.name, zoo_animal_path(@animal.mother.zoo_id, @animal.mother.id) %>
	<% end%>
</p>
<p><b>Father</b>
	<% if @animal.father != nil%>
	<%= link_to @animal.father.name, zoo_animal_path(@animal.father.zoo_id, @animal.father.id) %>
	<% end%>
</p>
<p><b>Children</b>
	<% if @animal.mothered_children != nil%>
	<% @animal.mothered_children.each do |child| %>
	<%= link_to child.name, zoo_animal_path(child.zoo_id, child.id) %>
	<% end%>
	<% end%>
		<% if @animal.fathered_children != nil%>
	<% @animal.fathered_children.each do |child| %>
	<%= link_to child.name, zoo_animal_path(child.zoo_id, child.id) %>
	<% end%>
	<% end%>
</p>


<%= link_to 'Edit', edit_zoo_animal_path %> |
<%= link_to 'Back', zoo_animal_path(params[:zoo_id], '') %>
